@import "compass/css3";
@import "color-helpers";
$nice-buttons-background: shiny !default;

// Button style reset and basic styles
@mixin nb-reset() {
  font: normal 16px "Lucida Grande", Lucida, Arial, sans-serif;
  margin: 0;
  text-decoration: none;
  margin-bottom: .3em;
  cursor: pointer;
  padding: .5em 1.2em;
  display: inline-block;
  border: { width: 1px; style: solid }
  @include border-radius(.3em);
  &:active, &:hover { outline: none }
  @include transition(box-shadow .15s);
}

%nb-reset { @include nb-reset; }

// Automate the gradient picking with simple color shifting

@function nb-gradient-shiny($bg) {
  // scale main color to pick
  $top:      scale-color($bg, $lightness: if-bright($bg,80%,40%));
  $middle-1: scale-color($bg, $lightness: if-bright($bg,20%,10%));
  $middle-2: scale-color($bg, $lightness: if-bright($bg,-2%,-5%));
  $bottom:   scale-color($bg, $lightness: if-bright($bg,-10%,-20%));

  @return linear-gradient($top, $middle-1 50%, $middle-2 50%, $bottom);
}

@function nb-gradient-flat($bg) {
  // scale main color to pick
  $top:      scale-color($bg, $lightness: if-bright($bg,80%,40%), $saturation: if-bright($bg,30%,70%));
  $bottom:   scale-color($bg, $lightness: if-bright($bg,-10%,-20%), $saturation: if-bright($bg,30%,70%));
  @return linear-gradient($top, $bottom);
}

@mixin nice-button($bg: #eee, $gradient: $nice-buttons-background, $box-shadow: false) {
  @extend %nb-reset;

  // Normal styles
  background-color: $bg;
  border-color: scale-color($bg, $lightness: -20%);
  color: text-contrast($bg);

  // Gradient
  $gradient-bg: rgba($bg, .7); // alpha shows color transitions
  @if $gradient == shiny {
    @include background-image(nb-gradient-shiny($gradient-bg));
  }
  @else if $gradient == flat {
    @include background-image(nb-gradient-flat($gradient-bg));
  }
  // Allow a gradient function to be passed in.
  @else if $gradient == none {
    background-image: none;
  }
  @else {
    @include background-image($background);
  }

  text-shadow: scale-color($bg, $lightness: 
    if-bright($bg,25%,-25%)) 0 1px 1px;
  @if $box-shadow == false {
    @include box-shadow(rgba(#fff, if-bright($bg,.6,.2)) 0 0 1px 1px inset);
  }
  @else{
    @include box-shadow($box-shadow);
  }

  // State styles
  &:hover, &:focus {
    background-color: scale-color($bg, $lightness: if-bright($bg, 85%, 25%));
  }

  &:active {
    background: scale-color($bg,
      $lightness: if-bright($bg, 25%, 10%));
    border-color: rgba(#000, if-bright($bg, .4, .8)); 
    @include box-shadow(
      if-bright($bg,
        rgba(mix($bg, #000, 25%), .4), rgba(mix($bg, #000), .9)
      ) 0 2px 12px inset
    );
  }
}
